h1 {
    background-color: #007bb8;
    color: white;
    padding: 16px;
    padding-top: 90px;
    margin-bottom: 4px;
}
h1::before {
    position: absolute;
    top: 24px;   
    background: url(/azure/guidance/_images/pnp-logo.svg) no-repeat 0 0;
    background-size: 100%;
    width: 180px;
    height: 100px;
    content: "";
}
h1 > span.series {
    font-size: 20px;
    display: block;
}
.metadata {
    display: none;
}
.content p:empty {
    display: none;
}
nav.series {
    display: flex;
    width: calc(100% - 12px);
    margin: 0 auto;
    margin-top: -12px;
}
nav.series a {
    flex-basis: 100%;
}
nav.series .next {
    text-align: right;
}
nav.series .prev {
    text-align: left;
}

.panel {
    display: flex;
    flex-wrap: wrap;
}
.panel li {
    list-style-type: none;
}
#categories>li {
    flex: 0 1 33%;
}
#categories>li img {
    max-width: 260px;
    /* This is a hack I added because I couldn't get the <li/> to shrink down to 33% in Edge */
}
@media all and (max-width: 800px) {
    #categories>li {
        flex: 0 1 100%;
    }
}
.panel {
    margin-bottom: 0;
}